.navbar-page-container {
    width: 100%;
    background-color: #1e1d1d;
    border-bottom: 3px solid purple;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    align-items: center;
  }
  
  .image {
    width: 50px;
  }
  
  .image img {
    margin-top: 6px;
    margin-bottom: 5px;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .titles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }
  
  .titles h4 {
    margin-right: 30px;
    color: white;
    cursor: pointer;
  }
  
  .titles a.active h4 {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .titles {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #1e1d1d;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      z-index: 999;
      transition: all 0.3s ease;
    }
  
    .titles.open {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  }
  