#root {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  margin: 0;
}

.navbar-container, .footer-container, .content-container{
  margin: 0;
  width: 100%;
}

.navbar-container, .footer-container{
  height: 9vh;
}

.content-container{
  margin-top: 6px;
  height: fit-content;
  min-height: calc(81vh - 3px);
}
